<section>
    <a href="/dashboard" class="is-pulled-right"> &larr; Back </a>
  <h2 class="title">Add New Post</h2><hr>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input class="input is-info" type="text" id="post-title" name="post-title" placeholder="Blog Title"/>
    </div>
    <div>
      <label for="post-content">Content</label>
      <textarea class="textarea is-info" id="post-content" style="resize:none" name="post-content" placeholder="Blog content"></textarea>
    </div>
    <button type="submit" class="button is-info is-pulled-right">Publish</button>
  </form>
</section>

