<div class="column">
  <center>
    <h2 class="title pb-4">Login</h2>
  </center>
  <hr>
  <form class="login-form">
    <div>
      <label for="email-login">Email</label>
      <input class="input is-info" type="text" id="email-login" />
    </div>
    <div>
      <label for="password-login">Password </label>
      <input type="password" class="input is-info" id="password-login" />
    </div>
    <div>
      <button type="submit" class="button is-primary">Login</button>
      <br>
      <a href="/signup" class="has-text-info">No Account Yet ? Sign up</a>
    </div>
  </form>
</div>

