<div class="column">
  <center>
    <h2 class="title pb-4">Create An Account</h2>
  </center>
  <hr>
  <form class="signup-form">
    <div>
      <label for="username-signup">Username</label>
      <input type="text" class="input is-info" id="username-signup" />
    </div>
    <div>
      <label for="email-signup">Email</label>
      <input type="text" class="input is-info" id="email-signup" />
    </div>
    <div>
      <label for="password-signup">Password:</label>
      <input type="password" class="input is-info" id="password-signup" />
    </div>
    <div>
      <button type="submit" class="button is-primary">Signup</button>
      <br>
      <a href="/login" class="has-text-info">Already Have An Account ? Login</a>
    </div>
  </form>
</div>
