<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Theresa's Tech Blog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

  <div class="wrapper">
    <header>
        <a href="/" class="has-text-info px-3 py-3 has-text-weight-bold">Theresa's Tech Blog</a>
        <nav class="navbar mt-2">
            {{#if loggedIn}}
            <a href="/" class="navbar-item is-hoverable pt-1">Home</a>
            <a href="/dashboard" class="navbar-item is-hoverable pt-1">Dashboard</a>
            <a href="/dashboard/create/" class="navbar-item is-hoverable pt-1 mr-4">Create Blog</a>
            <button id="logout" class="button is-danger">Logout</button>
            {{else}}
            <a href="/" class="navbar-item is-hoverable pt-1">Home</a>
            <a href="/login" class="button is-info">Login</a>
            {{/if}}
        </nav>
    </header>

    <main>
            {{{ body }}}
    </main>

    <footer class="footer rows pb-2">
        <div class="row-is-full content has-text-centered">
            <p>
            <a href="/">Home</a>{{#if loggedIn}} | 
            <a href="/dashboard/">Dashboard</a> | 
            <a href="/dashboard/create/">Create Blog</a>
            {{else}}
             | <a href="/login/">Login</a>
            {{/if}}
            </p>
        </div>
      
    </footer>
  </div>
<script src="/javascript/logout.js"></script>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>
<script src="/javascript/login.js"></script>
<script src="/javascript/add-post.js"></script>
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>
<script src="/javascript/signup.js"></script>
<script src="/javascript/comment.js"></script>
</html>